:root {
  --primary-color:rgb(211, 35, 35);
  --body-bg-color: #262626;
  --card-bg-color: #171717;
  --text-color: #d1d5db;
}

body{
  background-color: var(--body-bg-color);
}

*{
  padding: 0;
  margin: 0;
}